@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyScriptureJournal!</h1>
    <p class="display-6">This is a simple scripture manager tool that allows you to save and edit your favorite scriptures from the standard works.</a>.</p>
</div>

<hr class="my-4" />

<h2>Instructions -</h2>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 p-3 border rounded  front-page-table">
            <h3>Step 1:</h3>
            <div>Enter the My Journal hub via the navigation bar.</div>
            <img src="~/lib/step1.png" alt="Step 1 image" />
        </div>

        <div class="col-md-6 p-3 border rounded  front-page-table">
            <h3>Step 2:</h3>
            <div>Add your favorite scriptures by entering in the information in the different fields including your own insights on your scriptures.</div>
            <img src="~/lib/step2.1.png" alt="Step 2 image"  />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6 p-3 border rounded  front-page-table">
            <h3>Step 3:</h3>
            <div>Edit, View Details, or Delete your scriptures. This is your space so add the scriptures that mean the most to you!</div>
            <img src="~/lib/step3.png" alt="Step 3 image" />
        </div>
        <div class="col-md-6 p-3 border rounded  front-page-table">
            <h3>Step 4:</h3>
            <div>Get going and have fun studying!</div>
            <img src="~/lib/bookstack.png" alt="Step 3 image"/> 
        </div>
    </div>
</div>
