@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At MyScriptureJournal, we value your privacy. Our site is designed to store and display information that you input in the provided fields. The only data saved is the information you choose to enter, such as scripture references, notes, and related insights.

    Important: Please refrain from entering any sensitive or personal information such as passwords, personal identification numbers (PINs), or any confidential data in the fields. We are not responsible for any sensitive information shared.

    By using the site, you acknowledge that only the information you submit in the fields will be stored and used to enhance your experience.
</p>
